---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  note: CollectionEntry<'notes'>;
}

const { note } = Astro.props;

const publishedString = new Date(note.data.published).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<style>
  .latest-note {
    display: flex;
    gap: 1.5rem;
    margin: 1.5rem 0;
    text-decoration: none;
  }

  .latest-note:hover {
    color: var(--accent);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .latest-note .title {
    font-size: var(--subheader-size-default);
    font-weight: 600;
    color: var(--text-light);
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 0;
  }

  .latest-note:hover .title {
    color: var(--accent-dark);
  }

  .latest-note .header {
    font-size: var(--text-size-default);
    line-height: var(--line-height-default);
    color: var(--text-light);
    font-weight: 400;
    opacity: var(--opacity-light);
    letter-spacing: -0.01em;
  }

  .latest-note .description {
    font-size: var(--text-size-default);
    line-height: var(--line-height-default);
    color: var(--text-light);
    margin: 0;
  }

  .cover-image {
    width: 118px;
    height: 118px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

  .cover-image :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  @media (max-width: 1001px) {
    .latest-note .title {
      font-size: var(--subheader-size-mobile);
    }
    
    .latest-note .description {
      font-size: var(--text-size-mobile);
    }

    .latest-note .header {
      font-size: var(--text-size-mobile);
      line-height: 1.5;
    }
    .content {
      gap: 0.3rem;
    }
  }

  @media (max-width: 480px) {
    .latest-note {
      gap: 1rem;
    }
    
    .cover-image {
      width: 50px;
      height: 50px;
    }
  }
</style>

<a class="latest-note" href={`/${note.id}`}>
  {note.data.coverImage && (
    <div class="cover-image">
      <Image 
        src={note.data.coverImage}
        alt={note.data.title}
        width={200}
        height={200}
        quality="mid"
      />
    </div>
  )}
  
  <div class="content">
    <p class="title">
      Latest: {note.data.title}
    </p>

    <div class="header">
      {publishedString}{note.data.readingTime && ` · ${note.data.readingTime}`}
    </div>
    
    {note.data.description && (
      <p class="description">{note.data.description}</p>
    )}
  </div>
</a>
