---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import AppHeader from '../../components/AppHeader.astro';
import AppFooter from '../../components/AppFooter.astro';
import NoteHeader from '../../components/note/NoteHeader.astro';
import BaseHead from '../../components/BaseHead.astro';
import '../../styles/notes.css'; // Order of CSS imports is important

type Props = CollectionEntry<'notes'>['data'] & {
  note_id?: string;
};

const { title, description, published, note_id, readingTime, aside } = Astro.props;
const publishedString = new Date(published).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
const titlePrefix = import.meta.env.DEV ? 'Localhost' : 'Marcelo';
const refTitle = `${titlePrefix} | ${title}`

// Get random note, excluding current note
const allNotes = await getCollection('notes');
const otherNotes = allNotes.filter(note => note.id !== note_id);
const randomNote = otherNotes[Math.floor(Math.random() * otherNotes.length)];
const randomNoteId = randomNote.id;
---

<html lang="en">
	<head>
		<BaseHead title={refTitle} description={description} />
		<style>
			.note-footer-divider {
				height: 1px;
				background-color: var(--background-core-dark);
				margin: 3rem 0;
			}
		</style>
	</head>

	<body>
		<main>
			<div class="prose-container">
				<article class="prose">
					<AppHeader note_id={note_id} />
					<NoteHeader 
						title={title}
						publishedString={publishedString}
						readingTime={readingTime}
					/>
					<slot />
					<div class="note-footer-divider" />
					<AppFooter />
				</article>
			</div>
		</main>
	</body>
</html>
