---
import '../../styles/notes.css';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import AppHeader from '../../components/AppHeader.astro';
import AppFooter from '../../components/AppFooter.astro';
import NoteHeader from '../../components/note/NoteHeader.astro';

type Props = CollectionEntry<'notes'>['data'] & {
  note_id?: string;
};

const { title, description, published, note_id, readingTime } = Astro.props;
const publishedString = new Date(published).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.note-footer-divider {
				height: 1px;
				background-color: var(--background-core-dark);
				margin: 3rem 0;
			}
		</style>
	</head>

	<body>
		<main>
			<div class="prose-container">
				<article class="prose">
					<AppHeader note_id={note_id} />
					<NoteHeader 
						title={title}
						publishedString={publishedString}
						readingTime={readingTime}
					/>
					<slot />
					<div class="note-footer-divider" />
					<AppFooter />
				</article>
			</div>
		</main>
	</body>
</html>
